.selectContainer {
  width: var(--element-width);

  .select {
    margin-top: var(--gap);
    border-radius: 3px;
    border: 1px solid var(--color-dark);
    overflow: hidden;
  }

  .options {
    overflow: hidden;
    visibility: hidden;
    border-top: 0px solid var(--color-dark);
    transition: height 0.2s, border-width 0.2s, visibility 0s 0.2s;
  }
}

.select.open {
  .options {
    visibility: visible;
    border-width: 1px;
    transition: height 0.2s, border-width 0.2s, visibility 0s 0s;
  }
}
