@font-face {
  font-family: 'Wix';
  font-weight: 500;
  src: url('../assets/fonts/WixMadeforText-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Wix';
  font-weight: 700;
  src: url('../assets/fonts/WixMadeforText-Bold.ttf');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  padding: var(--gap3);
  font-family: 'Wix';
  font-weight: 500;
  color: var(--color-dark);
}

main {
  margin: 0 auto;
  width: fit-content;
  background-color: var(--color-bluish-light);
  border-radius: 10px;
  border: 2px solid var(--color-dark);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap2);
  padding: var(--gap2);
  border-bottom: 1px solid var(--color-dark);
}

section:last-of-type {
  border-bottom: none;
}

ul {
  list-style: none;
}

button {
  width: 100%;
  height: var(--element-height);
  padding: calc(var(--gap) / 2) var(--gap);
  text-align: start;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  border: none;
  background-color: var(--color-white);
  transition: background-color 0.2s;
  border: 2px solid transparent;
}

button:focus-visible {
  border: 2px dashed var(--color-bluish-dark);
  outline: none;
}

button:hover {
  background-color: var(--color-gray);
}

button:disabled {
  color: var(--color-disabled);
  cursor: default;
  background-color: var(--color-gray);
}

.container {
  width: 100%;
}

.label {
  margin-bottom: var(--gap);
}

.rowElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap4);
  min-height: var(--element-height);
  padding: calc(var(--gap) / 2) var(--gap);
  background-color: var(--color-white);
  border: 1px solid var(--color-dark);
}

.rowElement:not(:last-of-type) {
  border-bottom: none;
}

.color-dark {
  color: var(--color-dark);
}

.color-red {
  color: var(--color-error);
}

.color-green {
  color: var(--color-success);
}

@media (max-width: 768px) {
  #root {
    padding: var(--gap2);
  }
}

@media (max-width: 414px) {
  #root {
    padding: var(--gap);
  }
  section {
    padding: var(--gap) var(--gap) var(--gap2) var(--gap);
  }
}
