:root {
  --color-white: rgb(255, 255, 255);
  --color-dark: rgb(30, 30, 30);
  --color-gray: rgb(230, 230, 230);
  --color-disabled: rgb(150, 150, 150);
  --color-bluish-light: rgb(237, 248, 255);
  --color-bluish-dark: rgb(40, 173, 255);
  --color-error: rgb(253, 54, 54);

  --gap: 8px;
  --gap2: calc(var(--gap) * 2);
  --gap3: calc(var(--gap) * 3);
  --gap4: calc(var(--gap) * 4);
}
